<div id="@(Name)" class="benchmark-set">
    <h2 class="benchmark-title">
        @(Name)
        <a class="benchmark-anchor fs-3 text-secondary" href="#@(Name)">
            #
            <Icon Name="@(Icons.Clipboard)" Classes="@(["align-middle", "fade", "fs-6"])" />
        </a>
    </h2>
    <div class="benchmark-graphs row row-cols-1 row-cols-sm-2">
        @foreach ((var benchmark, var items) in Benchmarks)
        {
            <Benchmark Items="@(items)" Name="@(benchmark)" Suite="@(Name)" />
        }
    </div>
</div>
