@page "/"

<PageTitle>Benchmarks - @(Options.Value.BrandName)</PageTitle>

<header>
    <form>
        <div class="g-3 row row-cols-6">
            <div class="input-group col">
                <label class="input-group-text col-auto" for="repository" title="Repository" aria-label="Repository">
                    <Icon Name="@(Icons.Code)" FixedWidth="true" />
                </label>
                <select class="form-select" id="repository" name="repo" disabled="@(DisableRepositories)" @onchange="RepositoryChangedAsync">
                    @if (GitHubService.Repositories.Count < 1)
                    {
                        <option>Loading...</option>
                    }
                    else
                    {
                        @foreach (var repo in GitHubService.Repositories)
                        {
                            var selected = Repository is not null && repo == Repository;
                            <option value="@(repo)" selected="@(selected)">@(repo)</option>
                        }
                    }
                </select>
            </div>
            <div class="input-group col">
                <label class="input-group-text col-auto" for="branch" title="Branch" aria-label="Branch">
                    <Icon Name="@(Icons.CodeBranch)" FixedWidth="true" />
                </label>
                <select class="form-select" id="branch" name="branch" disabled="@(DisableBranches)" @onchange="@(BranchChangedAsync)">
                    @if (GitHubService.Branches.Count < 1)
                    {
                        <option>Loading...</option>
                    }
                    else
                    {
                        @foreach (var branch in GitHubService.Branches)
                        {
                            <option value="@(branch)" selected="@(branch == SelectedBranch)">@(branch)</option>
                        }
                    }
                </select>
            </div>
        </div>
    </form>
</header>
<hr />

@if (_notFound && !ShowLoaders)
{
    <div class="alert alert-danger m-2" id="no-benchmarks" role="alert">
        Benchmark data not found for branch <span class="font-monospace">@(GitHubService.CurrentBranch)</span>.
    </div>
}
else if (GitHubService.Benchmarks is not null)
{
    <div class="container-fluid px-0">
        <table class="table table-borderless table-sm w-auto">
            <tbody>
                <tr>
                    <th class="text-end" scope="row">
                        <Icon Name="@(Icons.Clock)" FixedWidth="true" />
                        <strong>
                            <span class="d-none d-sm-inline">Last </span>Updated:
                        </strong>
                    </th>
                    <td>
                        @if (GitHubService.Benchmarks.LastUpdated is { } timestamp && !ShowLoaders)
                        {
                            string text = timestamp.ToLocalTime().ToString("G");
                            string title = $"{timestamp:s} ({timestamp.Humanize()})";

                            <span title="@(title)">
                                @(text)
                            </span>
                        }
                        else
                        {
                            <Spinner />
                        }
                    </td>
                </tr>
                <tr>
                    <th class="text-end" scope="row">
                        <Icon Name="@(Icons.GitHub)" FixedWidth="true" />
                        <strong>
                            Repo<span class="d-none d-sm-inline">sitory</span>:
                        </strong>
                    </th>
                    <td>
                        @if (GitHubService.CurrentRepository is null || ShowLoaders)
                        {
                            <Spinner />
                        }
                        else
                        {
                            <a class="header-content" href="@(GitHubService.CurrentRepository.HtmlUrl ?? "#")" rel="noopener" target="_blank">
                                @(GitHubService.CurrentRepository.FullName)
                            </a>
                        }
                    </td>
                </tr>
                <tr>
                    <th class="text-end" scope="row">
                        <Icon Name="@(Icons.CodeBranch)" FixedWidth="true" />
                        Branch:
                    </th>
                    <td>
                        @if (GitHubService.CurrentBranch is null || ShowLoaders)
                        {
                            <Spinner Color="text-dark" />
                        }
                        else
                        {
                            <a class="font-monospace" href="@(GitHubService.BranchUrl())" rel="noopener" target="_blank">
                                @(GitHubService.CurrentBranch)
                            </a>
                        }
                    </td>
                </tr>
                <tr>
                    <th class="text-end" scope="row">
                        <Icon Name="@(Icons.CodeCommit)" FixedWidth="true" />
                        Commit:
                    </th>
                    <td>
                        @if (GitHubService.CurrentCommit is null || ShowLoaders)
                        {
                            <Spinner Color="text-dark" />
                        }
                        else
                        {
                            <a class="font-monospace" href="@(GitHubService.CommitUrl())" rel="noopener" target="_blank">
                                @(GitHubService.CurrentCommit[..7])
                            </a>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

@if (ShowLoaders)
{
    <div class="d-flex justify-content-center">
        <Spinner SpinnerType="@(SpinnerType.Border)" Large="true" LoadingText="Fetching data..." />
    </div>
}
else if (GitHubService.Benchmarks?.Suites.Count > 0)
{
    <div id="benchmarks">
        @foreach ((var name, var runs) in GitHubService.Benchmarks.Suites)
        {
            <BenchmarkSuite Name="@(name)" Benchmarks="@(GroupBenchmarks(runs))" />
        }

        <button class="btn btn-primary btn-sm d-block" id="download-json" type="button">
            Download as JSON
            <Icon Name="@(Icons.FileArrowDown)" />
        </button>
    </div>
}
