@page "/token"

<PageTitle>Configure @(Dashboard.GitHubInstance) Token - @(Dashboard.BrandName)</PageTitle>

<div class="row m-2 justify-content-center">
    <div class="col-12 col-md-8">
        <div class="card ">
            <div class="card-header">
                <Icon Name="@(Icons.GitHub)" />
                @(Dashboard.GitHubInstance) Token @(TokenRequired ? "Required" : string.Empty)
            </div>
            <div class="card-body">
                <p class="card-text">
                    <div class="alert alert-@(TokenRequired ? "primary" : "info")" role="alert">
                        A @(Dashboard.GitHubInstance) access token
                        @if (TokenRequired)
                        {
                            <text>
                                is required to load the data for this dashboard.
                            </text>
                        }
                        else
                        {
                            <text>
                                can be configured to load the data for this dashboard to help avoid rate limiting.
                            </text>
                        }
                    </div>
                </p>
                <p class="card-text">
                    @if (_deviceCode?.UserCode is { Length: > 0 } code)
                    {
                        <div class="mb-3">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text">Code</span>
                                <input class="form-control font-monospace"
                                       id="user-code"
                                       label="The @(Dashboard.GitHubInstance) verification code"
                                       disabled="@(_authorizationFailed)"
                                       readonly
                                       type="text"
                                       value="@(code)"
                                       aria-describedby="user-code-help">
                                <button class="btn btn-lg btn-primary copy-button"
                                        autofocus
                                        data-clipboard-target="#user-code"
                                        title="Copy to clipboard"
                                        aria-label="Copy verification code to clipboard">
                                        <Icon Name="@(Icons.Clipboard)" />
                                </button>
                            </div>
                            <div class="form-text" id="user-code-help">
                                Copy this code to allow @(Dashboard.BrandName) to generate an access token.
                            </div>
                        </div>
                        @if (_authorizing)
                        {
                            <div class="d-flex justify-content-center">
                                <Spinner SpinnerType="@(SpinnerType.Border)" Large="true" LoadingText="@($"Waiting for an access token for your {Dashboard.GitHubInstance} account")" />
                            </div>
                        }
                        else if (!_authorizationFailed)
                        {
                            <div class="mb-3">
                                <div class="d-grid gap-2">
                                    <a class="btn btn-lg btn-github"
                                       href="@(_deviceCode?.VerificationUrl ?? "#")"
                                       id="authorize"
                                       role="button"
                                       target="_blank"
                                       rel="noopener"
                                       title="Authorize @(Dashboard.BrandName) to access your {options.GitHubInstance} account"
                                       @onclick="AuthorizeAsync">
                                        Authorize
                                        <Icon Name="@(Icons.Check)" />
                                        <Icon Name="@(Icons.GitHub)" />
                                        <Icon Name="@(Icons.Key)" />
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    else if (!_tokenGenerationFailed)
                    {
                        <div class="d-flex justify-content-center">
                            <Spinner SpinnerType="@(SpinnerType.Border)" Large="true" LoadingText="Generating code..." />
                        </div>
                    }
                </p>
            </div>
        </div>
        @if (_tokenGenerationFailed)
        {
            <div class="card mt-3" id="generation-failed">
                <div class="card-header bg-danger text-white">
                    <Icon Name="@(Icons.GitHub)" />
                    @(Dashboard.GitHubInstance) authorization failed
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Something went wrong generating a @(Dashboard.GitHubInstance) device code.
                    </p>
                </div>
            </div>
        }
        else if (_deviceCode?.ExpiresInSeconds is { } expiry && _authorizationFailed)
        {
            <div class="card mt-3" id="authorization-failed">
                <div class="card-header bg-danger text-white">
                    <span class="fa-stack">
                        <Icon Name="@(Icons.Key)" Stacked="true" />
                        <Icon Name="@(Icons.Ban)" Stacked="true" Color="warning" />
                    </span>
                    @(Dashboard.GitHubInstance) authorization failed
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Possible causes:
                        <ul class="fw-light">
                            <li>You did not enter the code above within @(TimeSpan.FromSeconds(expiry + 1).Minutes) minutes</li>
                            <li>You cancelled the authorization process</li>
                        </ul>
                    </p>
                    <button autofocus
                            class="btn btn-primary"
                            id="refresh-code"
                            title="Refresh the code and try again"
                            @onclick="@(RefreshCodeAsync)">
                        Refresh code
                        <Icon Name="@(Icons.RotateRight)" />
                    </button>
                </div>
            </div>
        }
    </div>
</div>
