@page "/token"

@inject GitHubDeviceTokenService TokenService
@inject IJSRuntime JS

@{
    var options = Options.Value;
    var tokenRequired = options.IsGitHubEnterprise;
}

<PageTitle>Configure @(options.GitHubInstance) Token - @(options.BrandName)</PageTitle>

<div class="row m-2 justify-content-center">
    <div class="col-12 col-md-8">
        <div class="card ">
            <div class="card-header">
                @(options.GitHubInstance) Token @(tokenRequired ? "Required" : string.Empty)
            </div>
            <div class="card-body">
                <p class="card-text">
                    <div class="alert alert-@(tokenRequired ? "primary" : "info")" role="alert">
                        A @(options.GitHubInstance) access token
                        @if (tokenRequired)
                        {
                            <text>
                                is required to load the data for this dashboard.
                            </text>
                        }
                        else
                        {
                            <text>
                                can be configured to load the data for this dashboard to help avoid rate limiting.
                            </text>
                        }
                    </div>
                </p>
                <p class="card-text">
                    @if (_deviceCode?.UserCode is { Length: > 0 } code)
                    {
                        <div class="mb-3">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text">Code</span>
                                <input class="form-control font-monospace"
                                       id="user-code"
                                       label="The @(options.GitHubInstance) verification code"
                                       disabled="@(_authorizationFailed)"
                                       readonly
                                       type="text"
                                       value="@(code)"
                                       aria-describedby="user-code-help">
                                <button class="btn btn-lg btn-primary copy-button"
                                        autofocus
                                        data-clipboard-target="#user-code"
                                        title="Copy to clipboard"
                                        aria-label="Copy verification code to clipboard">
                                        <Icon Name="@(Icons.Clipboard)" />
                                </button>
                            </div>
                            <div class="form-text" id="user-code-help">
                                Copy this code to allow @(options.BrandName) to generate an access token.
                            </div>
                        </div>
                        @if (_authorizing)
                        {
                            <div class="d-flex justify-content-center">
                                <Spinner SpinnerType="@(SpinnerType.Border)" Large="true" LoadingText="@($"Waiting for an access token for your {options.GitHubInstance} account")" />
                            </div>
                        }
                        else if (!_authorizationFailed)
                        {
                            <div class="mb-3">
                                <div class="d-grid gap-2">
                                    <a class="btn btn-lg btn-github"
                                       href="@(_deviceCode?.VerificationUrl ?? "#")"
                                       id="authorize"
                                       role="button"
                                       target="_blank"
                                       rel="noopener"
                                       title="Authorize @(options.BrandName) to access your {options.GitHubInstance} account"
                                       @onclick="AuthorizeAsync">
                                        Authorize
                                        <Icon Name="@(Icons.Check)" />
                                        <Icon Name="@(Icons.GitHub)" />
                                        <Icon Name="@(Icons.Key)" />
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="d-flex justify-content-center">
                            <Spinner SpinnerType="@(SpinnerType.Border)" Large="true" LoadingText="Generating code..." />
                        </div>
                    }
                </p>
            </div>
        </div>
        @if (_deviceCode?.ExpiresInSeconds is { } expiry && _authorizationFailed)
        {
            <div class="card mt-3" id="authorization-failed">
                <div class="card-header bg-danger text-white">
                    <span class="fa-stack">
                        <Icon Name="@(Icons.Key)" Stacked="true" />
                        <Icon Name="@(Icons.Ban)" Stacked="true" Color="warning" />
                    </span>
                    @(options.GitHubInstance) authorization failed
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Possible causes:
                        <ul class="fw-light">
                            <li>You did not enter the code above within @(TimeSpan.FromSeconds(expiry + 1).Minutes) minutes</li>
                            <li>You cancelled the authorization process</li>
                        </ul>
                    </p>
                    <button autofocus
                            class="btn btn-primary"
                            id="refresh-code"
                            title="Refresh the code and try again"
                            @onclick="RefreshCodeAsync">
                        Refresh code
                        <Icon Name="@(Icons.RotateRight)" />
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@code {
    private bool _authorizing;
    private bool _authorizationFailed;
    private GitHubDeviceCode? _deviceCode;

    protected override async Task OnInitializedAsync()
        => await GenerateCodeAsync();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_deviceCode is not null)
        {
            await JS.InvokeVoidAsync("configureClipboard");
        }
    }

    private async Task GenerateCodeAsync()
    {
        _deviceCode = await TokenService.GetDeviceCodeAsync();
    }

    private async Task RefreshCodeAsync()
    {
        _deviceCode = null;

        await GenerateCodeAsync();

        _authorizing = false;
        _authorizationFailed = false;

        StateHasChanged();
    }

    private async Task AuthorizeAsync()
    {
        if (_deviceCode is null)
        {
            return;
        }

        _authorizing = true;

        StateHasChanged();

        if (await TokenService.WaitForAccessTokenAsync(_deviceCode) is { Length: > 0 } token &&
            await GitHubService.SignInAsync(token))
        {
            Navigation.NavigateTo(Routes.Home);
        }

        StateHasChanged();

        _authorizing = false;
        _authorizationFailed = true;
    }
}
