<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container-fluid">
        <a href="@(Routes.Home)" class="navbar-brand" id="home-link">
            @(Dashboard.BrandName)
            @foreach (var iconClasses in Dashboard.BrandIcons)
            {
                <span class="@(iconClasses) d-lg-inline ms-1" aria-hidden="true"></span>
            }
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#site-navbar"
                aria-controls="site-navbar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="site-navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" id="link-blog">
                    <a class="nav-link" href="https://blog.martincostello.com/" rel="noopener" target="_blank" title="My blog">
                        Blog
                    </a>
                </li>
                <li class="nav-item" id="link-about">
                    <a class="nav-link" href="https://martincostello.com/home/about/" rel="noopener" target="_blank" title="About me">
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="@(_dataRepoUrl)"
                       rel="noopener"
                       target="_blank"
                       title="Benchmarks data repository in @(Dashboard.GitHubInstance)">
                        Benchmarks
                        <Icon Name="@(Icons.Database)" />
                        <Icon Name="@(Icons.GitHub)" />
                    </a>
                </li>
                @if (!string.Equals(_dataRepoUrl, GitMetadata.RepositoryUrl, StringComparison.Ordinal))
                {
                    <li class="nav-item">
                        <a class="nav-link"
                           href="@(GitMetadata.RepositoryUrl)"
                           rel="noopener"
                           target="_blank"
                           title="Benchmarks dashboard repository in @(Dashboard.GitHubInstance)">
                            Dashboard
                            <Icon Name="@(Icons.ChartLine)" />
                            <Icon Name="@(Icons.GitHub)" />
                        </a>
                    </li>
                }
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <button class="btn btn-link navbar-btn nav-link"
                            id="toggle-theme"
                            title="Toggle theme"
                            type="button"
                            @onclick="ToggleThemeAsync">
                        <Icon Name="fa-solid" />
                    </button>
                </li>
            </ul>
            @if (GitHubService.CurrentUser is { } user)
            {
                <ul class="nav navbar-nav px-1">
                    <li>
                        <a class="nav-link"
                           href="@(GitHubService.ConnectionUrl())"
                           id="user-name"
                           rel="noopener"
                           target="_blank"
                           data-bs-toggle="tooltip"
                           data-bs-title="Signed in as @(user.Login) (@(user.Name))">
                            @(user.Login)
                            <img src="@(user.AvatarUrl)" class="user-profile" alt="@(user.Name)" title="@(user.Name)" aria-hidden="true">
                        </a>
                    </li>
                    <li>
                        <button class="btn btn-link navbar-btn nav-link"
                                id="sign-out"
                                title="Sign out"
                                type="button"
                                @onclick="SignOutAsync">
                            Sign out
                            <Icon Name="@(Icons.RightFromBracket)" />
                        </button>
                    </li>
                </ul>
            }
            else if (!Dashboard.IsGitHubEnterprise)
            {
                <ul class="nav navbar-nav">
                    <li>
                        <a class="navbar-btn nav-link"
                           href="@(Routes.Token)"
                           id="sign-in"
                           title="Sign in"
                           type="button">
                            Sign in
                            <Icon Name="@(Icons.RightToBracket)" />
                        </a>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>
